@import 'maps';

@media (max-width: 1470px) {
    .grid-area {
        div {
            img {
                @include medidas(400px, 400px);
            }
            iframe {
                @include medidas(400px, 400px);
            }
        }
    }

}

@media (max-width: 1272px) {
    .grid-area {
        div {
            img {
                @include medidas(350px, 350px);
            }
            iframe {
                @include medidas(350px, 350px);
            }
        }
    }

    .grid-carousel {
        display: flex;
        justify-content: center;
        div {
            height: 600px;
            width: 1000px;
        }
    }
}

@media (max-width: 1050px) {
    .grid-area {
        flex-direction: column-reverse;
    }

    .grid-area2 {
        flex-direction: column;
    }

    .grid-carousel {
        display: flex;
        justify-content: center;
        div {
            height: 600px;
            width: 940px;
        }
    }

    footer {
        flex-direction: column;
        div {
            img {
                @include medidas(300px, 300px);
            }
        }
    }
}

@media (max-width: 965px) {
    .menu-icon {
        display: block;
    }

    .navegacion ul {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: map-get($map: $colors, $key: primary);
        position: flex;
    }

    .menu-toggle:checked + .menu-icon + .navegacion ul {
        display: flex;
    }

    .navegacion ul li {
        text-align: center;
        padding: 10px 0;
    }
}

@media (max-width: 940px) {

    .grid-carousel {
        div {
            height: 500px;
            width: 750px;
        }
    }

    .grid-tarjetas {
        div {
            img {
                @include medidas(200px, 280px);
                margin: 10px 0px 0px 35px;
            }
            button {
                margin-left: 110px;
            }
        }
    }    

}

@media (max-width: 800px) {
    .grid-carousel {

        div {
            height: 300px;
            width: 600px;
        }
    }
}

@media (max-width: 611px) {

    .grid-area {
        margin: 10px;
        padding: 0px;
        div {
            img {
                width: 300px;
            }
            iframe {
                @include medidas(300px, 320px);
                border-radius: 10px;
            }
        }

        img {
            width: 300px;    
        }
    }

    .grid-carousel {
        display: flex;
        justify-content: center;
        div {
            height: 250px;
            width: 350px;
        }
    }

    .grid-area2 {
        margin: 10px;
        padding: 0px;
        div {
            img {
                width: 300px;
            }
        }
    }


    .grid-tarjetas {
        @include flex(row, space-around, wrap);
        padding: 0px;
        margin: 10px;
        div {
            @include medidas(420px, 300px);
            margin: 20px;
            img {
                @include medidas(200px, 280px);
                margin: 5px 0px 0px 10px;
            }
            button {
                margin-left: 95px;  
            }
        }
    }
}

