
.grid-carousel {
    display: flex;
    justify-content: center;
    div {
        div {
            border-radius: 10px;
            @include medidas (600px, 1080px);
        }
    }
}

.carousel-add {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: top;
    border: 1px solid red;
    border-radius: 15px;
    margin-left: 10px;
    margin-right: 10px;
    width: 100%; 
    background-image: url('../assets/img/ventaja-desventaja.jpg');
    h3{
        text-decoration: underline;
        font-size: 2.5rem;
        text-align: center;
        color: $primary-color;
        padding-top: 20px;
        padding-bottom: 20px;
        text-shadow: 
        -1px -1px 0 #000, /* Sombra superior izquierda */
        1px -1px 0 #000,  /* Sombra superior derecha */
        -1px 1px 0 #000,  /* Sombra inferior izquierda */
        1px 1px 0 #000; 
    }
    ol {
        li {
            padding: 10px;
            font-size: 1.25rem;
        }
    }
}