footer {
    @include flex-align(space-around, center, wrap);
    background-color: map-get($map: $colors, $key:primary );
    border: 1px solid ;

    p {
        margin: 0px;
    }

    div {
        img {
            @include medidas(50px, 50px);
        }
    }
}
