header {
    position: fixed;
    width: 100%;
    z-index: 1000;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding: 5px 50px 5px 50px;
    background-color: #FF914D;
}