.img-background {
    background-image: url('../assets/img/lobby.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    @include medidas(600px,100%);
    @include flex(column,center,wrap);
    align-items: center;
    h1 {
        color: white;
        font-size: 3rem;
        text-align: center;
    }
    p {
        color: white;
        font-size: map-get($map: $font-sizes, $key: medium);
        text-align: center;
        margin-top: 20px;
    }
    button {
        padding: 10px 20px;
        margin-top: 20px;
        background-color: $primary-color;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.3s ease;
        &:hover {
            background-color: $secondary-color;
        }

        a {
            text-decoration: none;
            color: white;
        }
    }
}