@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", serif;
  background-color: #FDF7F2;
}

header {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  padding: 5px 50px 5px 50px;
  background-color: #FF914D;
}

.logo {
  height: 75px;
  width: 75px;
  border-radius: 50px;
  border: solid 2px gray;
}

.navegacion {
  align-items: center;
}
.navegacion ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.navegacion ul li {
  list-style: none;
}
.navegacion ul li a {
  text-decoration: none;
  color: white;
}
.navegacion ul li a:hover {
  color: #FFE8D6;
}

.menu-toggle {
  display: none;
}

.menu-icon {
  display: none;
  cursor: pointer;
  font-size: 24px;
  color: white;
}

.grid-container {
  display: grid;
  grid-column: 1fr;
  gap: 12px;
  align-items: center;
}

.grid-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  padding: 10px;
  margin: 10px;
  background-color: #FFE8D6;
  border: 1px solid red;
}
.grid-area div {
  padding: 20px;
}
.grid-area div img {
  height: 500px;
  width: 500px;
  border-radius: 10px;
}
.grid-area div p {
  padding-top: 20px;
}
.grid-area img {
  height: 500px;
  width: 500px;
  border-radius: 10px;
}

.grid-area2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  padding: 10px;
  margin: 10px;
  background-color: #FFE8D6;
  border: 1px solid red;
}
.grid-area2 div {
  padding: 20px;
}
.grid-area2 div p {
  padding-top: 20px;
}
.grid-area2 div img {
  height: 500px;
  width: 500px;
  border-radius: 10px;
}

.img-background {
  background-image: url("../../../assets/img/lobby.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 600px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.img-background h1 {
  color: white;
  font-size: 3rem;
  text-align: center;
}
.img-background p {
  color: white;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 20px;
}
.img-background button {
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #FF914D;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.img-background button:hover {
  background-color: #FFE8D6;
}
.img-background button a {
  text-decoration: none;
  color: white;
}

.grid-carousel {
  display: flex;
  justify-content: center;
}
.grid-carousel div div {
  border-radius: 10px;
  height: 600px;
  width: 1080px;
}

.carousel-add {
  display: flex;
  justify-content: center;
  align-items: top;
  border: 1px solid red;
  width: 100%;
  background: url("../../../assets/img/ventaja-desventaja.jpg");
}
.carousel-add h2 {
  font-size: 2rem;
  text-align: center;
  color: #FF914D;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.grid-tarjetas {
  background-color: #FFE8D6;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 10px;
  margin: 10px;
  border: 1px solid red;
}
.grid-tarjetas div {
  background-color: rgba(240, 208, 196, 0.9921568627);
  border: solid rgb(211, 170, 170);
  height: 420px;
  width: 350px;
  margin: 20px;
}
.grid-tarjetas div img {
  height: 200px;
  width: 200px;
  margin: 10px 0px 0px 75px;
  border-radius: 5px;
  border: 1px solid rgb(179, 147, 147);
}
.grid-tarjetas div h2 {
  margin: 10px 0px 10px 5px;
  text-align: justify;
  font-size: 20px;
}
.grid-tarjetas div p {
  text-align: justify;
  margin: 0px 0px 0px 10px;
}
.grid-tarjetas div button {
  height: 35px;
  width: 100px;
  margin-left: 120px;
  margin-top: 15px;
  border-radius: 10px;
  background-color: #FFE8D6;
  border: 1px solid rgb(179, 147, 147);
}
.grid-tarjetas div button:hover {
  background-color: #FF914D;
  transform: scale(1.1);
  transition: ease-out 0.5s;
}

.grid-form {
  width: 100%;
  margin: 50px;
  background-color: #D7CCC8;
  padding: 20px 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.grid-form h2 {
  margin-top: 0;
  color: #333;
  font-size: 1.5em;
  border-bottom: 2px solid #FFE8D6;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
.grid-form div {
  margin-bottom: 15px;
  padding: 0px;
}
.grid-form div label {
  font-weight: bold;
  margin-bottom: 5px;
  color: #555;
}
.grid-form div input[type=text],
.grid-form div input[type=email],
.grid-form div input[type=number] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.grid-form div input[type=radio] {
  margin-left: 5;
}
.grid-form input[type=submit] {
  background-color: #4CAF50;
  color: #fff;
  border: none;
  padding: 12px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}
.grid-form input[type=submit]:hover {
  background-color: #45a049;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background-color: #FF914D;
  border: 1px solid;
}
footer p {
  margin: 0px;
}
footer div img {
  height: 50px;
  width: 50px;
}

@media (max-width: 1470px) {
  .grid-area div img {
    height: 400px;
    width: 400px;
  }
  .grid-area div iframe {
    height: 400px;
    width: 400px;
  }
}
@media (max-width: 1272px) {
  .grid-area div img {
    height: 350px;
    width: 350px;
  }
  .grid-area div iframe {
    height: 350px;
    width: 350px;
  }
  .grid-carousel {
    display: flex;
    justify-content: center;
  }
  .grid-carousel div {
    height: 600px;
    width: 1000px;
  }
}
@media (max-width: 1050px) {
  .grid-area {
    flex-direction: column-reverse;
  }
  .grid-area2 {
    flex-direction: column;
  }
  .grid-carousel {
    display: flex;
    justify-content: center;
  }
  .grid-carousel div {
    height: 600px;
    width: 940px;
  }
  footer {
    flex-direction: column;
  }
  footer div img {
    height: 300px;
    width: 300px;
  }
}
@media (max-width: 965px) {
  .menu-icon {
    display: block;
  }
  .navegacion ul {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #FF914D;
    position: flex;
  }
  .menu-toggle:checked + .menu-icon + .navegacion ul {
    display: flex;
  }
  .navegacion ul li {
    text-align: center;
    padding: 10px 0;
  }
}
@media (max-width: 940px) {
  .grid-carousel div {
    height: 500px;
    width: 750px;
  }
  .grid-tarjetas div img {
    height: 200px;
    width: 280px;
    margin: 10px 0px 0px 35px;
  }
  .grid-tarjetas div button {
    margin-left: 110px;
  }
}
@media (max-width: 800px) {
  .grid-carousel div {
    height: 300px;
    width: 600px;
  }
}
@media (max-width: 611px) {
  .grid-area {
    margin: 10px;
    padding: 0px;
  }
  .grid-area div img {
    width: 300px;
  }
  .grid-area div iframe {
    height: 300px;
    width: 320px;
    border-radius: 10px;
  }
  .grid-area img {
    width: 300px;
  }
  .grid-carousel {
    display: flex;
    justify-content: center;
  }
  .grid-carousel div {
    height: 250px;
    width: 350px;
  }
  .grid-area2 {
    margin: 10px;
    padding: 0px;
  }
  .grid-area2 div img {
    width: 300px;
  }
  .grid-tarjetas {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0px;
    margin: 10px;
  }
  .grid-tarjetas div {
    height: 420px;
    width: 300px;
    margin: 20px;
  }
  .grid-tarjetas div img {
    height: 200px;
    width: 280px;
    margin: 5px 0px 0px 10px;
  }
  .grid-tarjetas div button {
    margin-left: 95px;
  }
}

/*# sourceMappingURL=style.css.map */
