/* Google Fonts - Open Sans */
/* font-family: "Open Sans", serif; */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* 
Comandos Flex:
display
justify-content
align-items
flex-grow - Permite cambiar el ancho de la caja de forma flexible+
flex-direction
*/
* {
    margin: 0;
    padding: 0;
}

body{
    font-family: "Open Sans", serif;
    background-color: #FDF7F2;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

.header {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding: 5px 50px 5px 50px;
    background-color: #FF914D;
}

.logo {
    height: 100px;
    width: 100px;
    border-radius: 50px;
    border: solid 2px gray;
}

.navbar ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.grid-container {
    display: grid;
    grid-column: 1fr;
    gap: 12px;
    align-items: center;
}

.grid-area {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 10px;
    background-color: #FFE8D6;
    border: 1px solid red;
}

.grid-area div {
    padding: 20px;
}

.grid-area div p {
    padding-top: 20px;
}
.grid-area img {
    height: 500px;
    width: 500px;
    border-radius: 10px;
}

.grid-tarjetas {
    background-color: #FFE8D6;
    display: flex;
    padding: 10px;
    margin: 10px;
    border: solid red;
    justify-content: space-around;
    flex-wrap: wrap;
}

.grid-tarjetas div {
    background-color: #D7CCC8;
    border: solid grey;
    height: 400px;
    width: 350px;
    margin: 20px;
}

.grid-tarjetas div img {
    padding: 10px 0px 0px 75px;
}

.grid-tarjetas div h2 {
    margin: 10px 0px 10px 5px;
    text-align: justify;
    font-size: 20px;
}

.grid-tarjetas div p {
    text-align: justify;
    margin-left: 10px;
}

.grid-tarjetas div button {
    
}
footer {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    align-items: center;
}

footer img{
    width: 350px;
    height: 350px;
    border-radius: 10px;
}

.footer-contacto div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
}


.footer-contacto div img {
    padding-right: 20px;
}
.footer-contacto img{
    width: 50px;
    height: 50px;
    border-radius: 10px;
}
